.utterances {
}

.utterance-editor {
    margin-top: 20px;
}

.selected {
    /* font-weight: bold; */
}

.edited {
    border-style: dotted;
}

.word {
    display: inline-block;
    margin: 0 2px;
    border-radius: 7px;
}

textarea.edited {
    border-color: orange;
    border-width: 2px;
    border-style: dotted;
}


.word, .insertion-slot {
    padding: 0 10px;
    margin-bottom: 40px;
    text-align: center;
}

.insertion-slot {
    padding: 20px;
    border-radius: 15px;
}

.word.selected {
    background-color: #DDD;
}

.wordform {
    font-weight: bold;
    font-size: 125%;
}

.deletable span:hover {
    text-decoration: line-through;
    cursor: pointer;
}

div .selectable:hover {
    background-color: #EEE;
    cursor: pointer;
}

.attr-label {
    text-align: right;
}

.inactive {
    opacity: 0.5;
}

.word-selector, .slot-selector, .word-deleter {
    margin-top: 20px;
}

.tool-palette {
}

.tool-palette button {
    margin: 5px 0;
    width: 100%;
    text-align: center;
}

.messages {
    margin-top: 20px;
}

.navbar {
    color: white;
    font-size: 1.5em;
}

.username {
    font-size: 2em;
    margin-right: 20px;
}

.nav-arrow {
}

.disabled {
    opacity: 0.75;
}

.edit-history {
    overflow-y: scroll;
    height: 400px;
}

.utterance-preview {
    float: right;
    display: inline;
}

.tip {
    display: inline;
    position: relative;
}
