<!doctype html>


<html>
<title>LARC - Submit a Correction</title>
{% if error %}
    <h1>{{ error }}!</h1>
{% endif %}
<!--<body>-->

{% block content %}
Please enter the primary key of the utterance you wish to correct,
and a json representation of the edit you wish to make.<br>

<form action = "" method = 'post' name = 'correction'>
    <p>
        {{ form.pk }} > The primary key of the utterance you wish to correct. <br>
    </p>
    <p>
        {{ form.edit }} > The json representation of the edit. <br>
    </p>
    <br>
    <p>
        <input type = 'submit' value = 'Submit Correction'>
    </p>
</form>
{% endblock %}


<!--</body>-->
</html>