<!doctype html>

<html>
<title>LARC - Home</title>
{% if message %}
    <h1>{{ message }}</h1>
{% endif %}
<!--<body>-->

{% block content %}

{% if not session.user %}
    Not currently logged in
{% else %}
    Logged in as <strong>{{session.user}}</strong>
{% endif %}
<br>

Where would you like to go next?<br>
Currently implemented actions include:<br>

[{% for action in session.actions %}
<a href="{{session.actions[action]}}">{{action}}</a>
{% endfor %}] <br>

<form action = "" method = 'post' name = 'home'>
    <p>
        {{ form.action }} 
    </p>
    <p>
        <input type = 'submit' value = 'Go!'>
    </p>
</form>
{% endblock %}

<!--</body>-->
</html>