<!doctype html>

<html>
<title>LARC - Home</title>
{% if message %}
    <h1>{{ message }}!</h1>
{% endif %}
<!--<body>-->

{% block content %}
Our debug credentials are [ admin | vvv ].<br>
<a href="/login">Log In</a> |
<a href="/logout">Log Out</a> |
<a href="/new-user">Create a new user</a><br>
<form action = "" method = 'post' name = 'login'>
    <p>
        {{ form.username }} > Your username. <br>
    </p>
    <p>
        {{ form.password }} > Your password. <br>
    </p>
    <br>
    <p>
        <input type = 'submit' value = 'Log in'>
    </p>
</form>
{% endblock %}

<!--</body>-->
</html>